@import "../../assets/css/vars";

#content {
  height: calc(100% - @header-height - @footer-height);
  position: absolute;
  width: 100%;
  overflow: scroll;
  cursor: default;

  .page {
    position: absolute;
    width: 80%;
    padding: 10px;
    left: 10%;
  }
}
