@import url(../../styles.less);

@header-background: darken(@background, 5%);

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: @header-background;
  padding: 0 10px;
  align-items: center;

  img {
    height: 60px;
  }
}
