<div id="about">
  <h2>About the game</h2>
  <p>Fukuman is a quiz game where 2 teams race against each other. They answer trivia questions, and if their answer is
    correct, they can open one of 20 safes, two of which have bombs in them, the other ones having money ranging from
    1,000 to 7,000,000 HUF.</p>
</div>

<div id="first-game">
  <h2>The first game</h2>
  <h3>Which team starts?</h3>
  <p>Firstly there is a guessing question, where the team that guessed closer will start the game.</p>

  <h3>The game</h3>
  <p>The game consists of 10 rounds. In each round the teams get a two choice question. First they only see the
    first option, and they get to decide if it’s true or false. If they chose false, they have no choice but to accept
    the second option, which they haven’t seen before. If a team managed to answer correctly on their turn, they get to
    open a safe. If the answer is wrong, it’s the next team’s turn. When opening a safe, the players can choose two
    safes, one of which will open. They can chose to keep it, or risk it and get the other safe’s contents which they
    haven’t seen yet. If the safe contains a bomb, it’s the other team’s turn. On the last round, the team currently on
    their turn has the chance to get into the finals. If they answer correctly, they move into the finals, if not, the
    other team moves on.</p>
</div>

<div id="finals">
  <h2>The finals</h2>
  <p>The finals consists of 5 questions, each of them are two choice. The players won’t know if they answered correctly
    or not. After the questions, the players are provided with 6 safes, one of which has their prize. They are then
    provided with the questions again with their answers, with the correct answers being the first ones. They then get
    to keep the question, or stop. If they keep the question, and the answer is correct, one safe that doesn’t have the
    price disappears. If they answer is incorrect, the game is over. If they chose to stop, they can guess which safe
    contains their price. If they chose correctly, they get to take the price home. If they don’t, they walk home empty
    handed.</p>
</div>
